<div class="row">
	<div class="col-xs-12">
		<div class="jumbotron">
		  <h1>Movie Search</h1>
		  <p>The easiest movie search app this side of the Mississippi</p>
			<div class="row">
				<div class="col-xs-6">
					<input id="search-box" type="text" class="form-control" placeholder="Search" autofocus>
					<div class="alert alert-dismissable alert-danger no-margin margin-top display-none" id="error-alert">
					  <button type="button" class="close" data-dismiss="alert">×</button>
					  <strong class="block">This is why we can't have nice things!</strong>Error message: <span id="error-message"></span>
					</div>
				</div>
				<div class="col-xs-2">
					<button type="button" class="btn btn-primary" id="search-btn" data-loading-text='Searching <i class="fa fa-spinner fa-spin"></i>'>
					  Search
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row display-none" id="results">
	<div class="col-md-3 hidden-sm hidden-xs text-center">
		<img class="poster large" /><br/>
		<p class="small inline-block"><a class="imdbID">View on imdb</a></p>
	</div>
	<div class="col-md-9">
		<div class="panel panel-primary">
		  <div class="panel-heading">
		    <h3 class="panel-title strong" id="title-year-rating"></h3>
		    <a class="imdbID visible-sm visible-xs title-link">View on imdb</a>
		  </div>
		  <div class="panel-body">
		  	<div class="row">
		  		<div class="hidden-xs col-sm-4 hidden-md hidden-lg text-center">
		  			<img class="poster small" />
		  		</div>
		  		<div class="col-xs-12 col-sm-8 col-md-12 col-lg-12">
						<p id="plot"></p>
						<table class="table no-margin table-margin">
							<tbody>
								<tr>
									<td>Awards:</td>
									<td id="awards"></td>
								</tr>
								<tr>
									<td>Ratings:</td>
									<td>
										<img id="metacritic-mini-logo" src="http://www.gameinformer.com/cfs-filesystemfile.ashx/__key/CommunityServer-Components-ImageFileViewer/CommunityServer-Components-UserFiles-00-00-58-31-12-Attached+Files/4011.BigLogo_5F00_jpg.png_2D00_610x0.png"> : <span id="mc-rating"></span> 
										<span class="bar">|</span>
										<img id="imdb-mini-logo" src="http://upload.wikimedia.org/wikipedia/commons/thumb/3/35/IMDb_logo.svg/300px-IMDb_logo.svg.png"> : <span id="imdbRating"></span> out of <span id="imdbVotes"></span> votes
									</td>
								</tr>
								<tr>
									<td>Breakdown:</td>
									<td>
										<span id="genre"></span> <span class="bar">|</span> 
										<span id="runtime"></span> <span class="bar">|</span> 
										<span id="language"></span> <span class="bar">|</span> 
										<span id="country"></span>
									</td>
								</tr>
								<tr>
									<td>Featuring:</td>
									<td id="actors"></td>
								</tr>
								<tr>
									<td>Director(s):</td>
									<td id="director"></td>
								</tr>
								<tr>
									<td>Writer(s):</td>
									<td id="writer"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		  </div>
		</div>
	</div>
</div>
