.row
	.col-xs-12
		.jumbotron
			h1 Movie Search
			p The easiest movie search app this side of the Mississippi
			.row
				.col-xs-6
					input#search-box.form-control type="text" placeholder="Search" autofocus=""
					#error-alert.alert.alert-dismissable.alert-danger.no-margin.margin-top.display-none
						button.close data-dismiss="alert" type="button"  x
						strong.block This is why we can't have nice things!
						| Error message: 
						span#error-message
				.col-xs-2
					button#search-btn.btn.btn-primary data-loading-text='Searching <i class="fa fa-spinner fa-spin"></i>' type="button" Search

#results.row.display-none
	.col-md-3.hidden-sm.hidden-xs.text-center
		img.poster.large
		br/
		p.small.inline-block
			a.imdbID View on imdb
	.col-md-9
		.panel.panel-primary
			.panel-heading
				h3#title-year-rating.panel-title.strong
				a.imdbID.visible-sm.visible-xs.title-link View on imdb
			.panel-body
				.row
					.hidden-xs.col-sm-4.hidden-md.hidden-lg.text-center
						img.poster.small
					.col-xs-12.col-sm-8.col-md-12.col-lg-12
						p#plot
						table.table.no-margin.table-margin
							tbody
								tr
									td Awards:
									td#awards
								tr
									td Ratings:
									td
										| #{link_to image_tag("metacritic-logo.png", id: "metacritic-mini-logo"), "http://www.metacritic.com/"} : 
										span#mc-rating
										span.bar |
										| #{link_to image_tag("imdb-logo.png", id: "imdb-mini-logo"), "http://www.imdb.com/"} : 
										span#imdbRating
										|  out of 
										span#imdbVotes
										| votes
								tr
									td Breakdown:
									td
										span#genre
										span.bar |
										span#runtime
										span.bar |
										span#language
										span.bar |
										span#country
								tr
									td Featuring:
									td#actors
								tr
									td Director(s):
									td#director
								tr
									td Writer(s):
									td#writer
