/* Functional */
.block {
  display: block;
}

.inline {
	display: inline;
}

.inline-block {
  display: inline-block;
}

.display-none {
  display: none;
}

.no-margin {
  margin: 0px;
}

.strong {
	font-weight: bold;
}

.bar {
	padding-left: 5px;
	padding-right: 5px;
}
